.neu-button {
  background: var(--bs-body-bg);
  border-radius: var(--bs-border-radius-lg);

  /* Dual shadows */
  box-shadow: 8px 8px 15px rgba(190, 190, 190, 0.8),
    -8px -8px 15px rgba(255, 255, 255, 0.9);
}

.neu-button:active {
  /* Inset for pressed effect */
  box-shadow: inset 8px 8px 15px rgba(190, 190, 190, 0.8),
    inset -8px -8px 15px rgba(255, 255, 255, 0.9);
}
